@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

$breakpoints: (
  xs: 0,
  xsm: 520px,
  sm: 768px,
  md: 1024px,
  lg: 1200px,
  xlg: 1440px,
  xxlg: 2200px
);

@mixin min-width($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    $breakpoint-value: map-get($breakpoints, $breakpoint);

    @media (min-width: ($breakpoint-value)) {
      @content;
    }
  } @else {
    @warn 'Invalid breakpoint: #{$breakpoint}.';
  }
}

@mixin max-width($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    $breakpoint-value: map-get($breakpoints, $breakpoint);

    @media (max-width: ($breakpoint-value - 1)) {
      @content;
    }
  } @else {
    @warn 'Invalid breakpoint: #{$breakpoint}.';
  }
}
