@import "../../styles/mixins";

.mobile-menu {
    display: block;
    position: absolute;
    font-size: 1.8rem;
    top: 0.8rem;
    left: 0.8rem;
    cursor: pointer;
    @include min-width(sm) {
        display: none;
    }
    button {
        margin: 10px;
        padding: 0.5rem;
        border: none;
        cursor: pointer;
        box-shadow:
            5px 5px 10px #aaaaaa,
            -5px -5px 10px #ffffff;
        border-radius: 0.5rem;
        font-size: 1.6rem;
    }
}
.navigation {
    display: none;
    max-height: 26.5rem;
    padding: 1rem;
    @include min-width(sm) {
        display: block;
    }
    &_container {
        & a {
            text-decoration: none;
        }
        ul {
            list-style-type: none;
            padding-inline-start: 0;
            margin: 0;
        }
        .flex-direction-row {
            flex-direction: row;
            gap: 2rem;
            justify-content: flex-start;
        }
        &--item {
            padding: 1rem;
            margin: 20px 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            border: none;
            border-radius: 0.5rem;
            box-shadow:
                5px 5px 10px #aaa,
                -5px -5px 10px #fff;
            color: #6f7275;
            cursor: pointer;
            gap: 0.5rem;
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
            &:active {
                -webkit-transform: scale(0.98);
                transform: scale(0.98);
            }
            & i {
                font-size: 1.4rem;
            }
            & p {
                font-size: 1rem;
            }
            &:hover {
                background: linear-gradient(90deg, #5232c1, #15f1f1);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
            &:active {
                -webkit-transform: scale(0.98);
                transform: scale(0.98);
            }
        }
        & .selected {
            background: linear-gradient(90deg, #5232c1, #15f1f1);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}

.popup {
    position: fixed;
    width: 60%;
    height: 100vh;
    top: 0;
    background: #eaeaea;
    padding: 1rem;
    // overflow: hidden;
    &-overlay {
        margin-bottom: 1rem;
        background-color: rgba($color: #000000, $alpha: 0.5);
        position: absolute;
        width: 60%;
        height: 100vh;
        top: 0;
        left: -50rem;
        @include min-width(sm) {
            display: none;
        }
    }
    &-content {
        margin-top: 5rem;
    }
    &-close-btn {
        position: absolute;
        right: -1.2rem;
        top: 0;
        z-index: 3;
        & button {
            width: 2.5rem;
            height: 2.5rem;
            border: none;
            cursor: pointer;
            box-shadow:
                5px 5px 10px #aaaaaa,
                -5px -5px 10px #ffffff;
            border-radius: 50%;
            transition: all 0.3s;
            font-size: 1.6rem;
        }
    }
}
.showPopup {
    transition: 0.5s;
    left: 0;
}
.hidePopup {
    transition: 0.5s;
    left: -50rem;
}
