@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");

@import "../styles/_mixins.scss";

@import "../styles/_variables.scss";

.poetsen-one-regular {
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-slab-normal {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 350;
  font-style: normal;
}

body {
  background-color: #eaeaea;
  margin: 0;
  // background: url(/images/bg.jpg);
  // background-repeat: no-repeat;
  // background-size: auto;
}
.wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 7rem 0.5rem 0.5rem 0.5rem;
  @include min-width(sm) {
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 8rem 4rem;
  }
}

html,
body {
  background-color: var(--color-bg);
}
* {
  color: var(--text-color);
  @extend .roboto-slab-normal;
}
.box-shadow {
  padding: 2rem;
  border-radius: 20px;
  box-shadow: var(--box-shadow);
}

.container {
  width: calc(100vw - 4.5rem);
  position: relative;
  margin: 0 1rem;
  padding: 1rem;
  @include min-width(sm) {
    width: calc(100vw - 435px);
  }
  & .title {
    position: relative;
    font-size: 1.8rem;
    font-weight: 500;
    padding: 1rem;
    @include min-width(sm) {
      padding: 1rem 2rem;
    }
    &::after {
      content: " ";
      border-top: 4px solid var(--text-color);
      position: absolute;
      bottom: 0;
      left: 10rem;
      right: 0;
      height: 2rem;
      max-width: 8rem;
    }
  }
  & .description {
    padding: 1rem;
    @include min-width(sm) {
      padding: 1rem 2rem;
    }
  }
  & .sub-title {
    font-size: 1.2rem;
    font-weight: 500;
    padding: 1rem;
    @include min-width(sm) {
      padding: 1rem 2rem;
    }
  }
}
// Global Style for Next Image

.image-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  > div {
    position: unset !important;
  }

  .image {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
  }
}
