@import "../styles/mixins";
.home {
    // overflow: scroll;
    // min-width: 23rem;
    & .content {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        padding: 1rem;
        @include min-width(sm) {
            // flex-direction: row;
            // flex-wrap: wrap;
            min-width: 23rem;
            padding: 1.5rem;
        }
        & .hCard {
            display: flex;
            gap: 1rem;
            border-radius: 20px;
            box-shadow: var(--box-shadow);
            padding: 1rem;
            @include min-width(sm) {
                gap: 2rem;
                flex: 50%;
            }
            &:first-child {
                background-color: rgba($color: #ff7878, $alpha: 0.1);
            }
            &:nth-child(2) {
                background-color: rgba($color: #5232c1, $alpha: 0.1);
            }
            &:nth-child(3) {
                background-color: rgba($color: #15f1f1, $alpha: 0.1);
            }
            &:last-child {
                background-color: rgba($color: #ddbdfc, $alpha: 0.1);
            }

            &--img {
                font-size: 1.8rem;
                & .fa-swatchbook {
                    background-image: linear-gradient(90deg, #fe0944, #ff7878);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
                & .fa-code {
                    background: linear-gradient(105deg, #5232c1, #15f1f1);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
                & .fa-window-restore {
                    background-image: linear-gradient(80deg, #cc3757, #df5b5e);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
                & .fa-gears {
                    background-image: linear-gradient(80deg, #ddbdfc, #96c8fb);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
            &--content {
                &-title {
                    font-size: 1.1rem;
                    font-weight: 500;
                    padding: 0 0.5rem 0.5rem 0.5rem;
                }
                &-description {
                    padding: 0 0.5rem 0.5rem 0.5rem;
                    font-size: 0.9rem;
                    color: var(--label-color);
                }
            }
        }
    }
}
