@import "../../styles/mixins";
.sidebar {
    width: calc(100vw - 4.5rem);
    position: relative;
    margin: 0 1rem;
    padding: 1rem;
    @include min-width(sm) {
        width: 18rem;
    }
    &_header {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        .image-container {
            margin-top: -6rem;
            width: 10rem;
            height: 10rem;
            border-radius: 0.5rem;
            box-shadow: var(--box-shadow);
            transition: all 0.2s ease-in-out;
            overflow: hidden;
            img {
                border-radius: 0.5rem;
            }
        }
        &--title {
            font-size: 1.6rem;
            padding: 0.8rem;
        }
        &--social {
            font-size: 1.6rem;
            display: flex;
            align-items: center;
            list-style-type: none;
            padding-inline-start: 0;
            a {
                li {
                    margin: 10px;
                    min-width: 2rem;
                    min-height: 2.2rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    padding: 0.2rem;
                    border-radius: 0.5rem;
                    transition: all 0.2s ease-in-out;
                    text-shadow: var(--text-shadown);
                    box-shadow: var(--box-shadow);
                    &:hover {
                        box-shadow: var(--box-shadow-hover);
                        background: linear-gradient(
                            45deg,
                            #f09433 0%,
                            #e6683c 25%,
                            #dc2743 50%,
                            #cc2366 75%,
                            #bc1888 100%
                        );
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }
                    &:active {
                        box-shadow: var(--box-shadow-active);
                    }
                }
            }
            a {
                text-decoration: none;
            }
            .icon-youtube {
                font-size: 33px;
            }
            .icon-twitter-square {
                font-size: 30px;
            }
        }
    }
    &_content {
        padding: 1rem;
        background-color: var(--color-bg);
        border-radius: 0.5rem;
        &--list {
            list-style-type: none;
            padding-inline-start: 0;
            margin: 0;
            & li {
                padding: 1rem 0;
                .sidebar_content--list-Item {
                    display: flex;
                    gap: 1rem;
                    justify-content: flex-start;
                    align-items: center;
                    & .mobile {
                        background-image: linear-gradient(90deg, #fe0944, #ff7878);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }
                    & .email {
                        background-image: linear-gradient(80deg, #ddbdfc, #96c8fb);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }
                    & .location {
                        background-image: linear-gradient(80deg, #cc3757, #df5b5e);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }
                    & .item-container {
                        & .label {
                            font-size: 0.6rem;
                            color: var(--label-color);
                        }
                        & .value {
                            color: var(--text-color);
                            font-size: 0.9rem;
                            text-decoration: none;
                        }
                    }
                    & i {
                        font-size: 1.6rem;
                    }
                }

                &:not(:last-child) {
                    border-bottom: 1px solid #aaaaaa;
                }
            }
        }
    }
    &_footer {
        margin: 1rem 0;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        justify-content: center;
        button,
        a {
            padding: 1rem;
            width: 100%;
            border-radius: 0.5rem;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 2rem;
            border: none;
            cursor: pointer;
            transition: all 0.2s ease-in-out;
            text-shadow: var(--text-shadown);
            box-shadow: var(--box-shadow);
            background: var(--linear-grd-text-color);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            box-sizing: border-box;
            font-size: 1rem;
            i {
                font-size: 1.6rem;
            }
            &:hover {
                box-shadow: var(--box-shadow-hover);
            }
            &:active {
                box-shadow: var(--box-shadow-active);
            }
        }
    }
}
