@import "../../styles/mixins";

.resume-card {
    display: flex;
    gap: 0.5rem;
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow);
    padding: 1rem;
    flex-direction: column;
    &:first-child {
        background-color: rgba($color: #ff7878, $alpha: 0.1);
    }
    &:nth-child(2) {
        background-color: rgba($color: #5232c1, $alpha: 0.1);
    }
    &-container {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        padding: 1rem;
        @include min-width(sm) {
            min-width: 23rem;
            padding: 1.5rem;
        }
    }
    &--year,
    &--description {
        font-size: 0.9rem;
        font-weight: 300;
    }
    &--title {
        font-size: 1.1rem;
        font-weight: 500;
    }
}

.skills {
    padding: 1rem;
    @include min-width(sm) {
        padding: 1rem 2rem;
    }
    & .skill {
        display: flex;
        align-items: flex-start;
        margin-bottom: 0.5rem;
        flex-direction: column;
        &--title {
            color: var(--label-color);
            opacity: 0.7;
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: space-between;
        }
        &--bar {
            width: 100%;
            background-color: rgba($color: #757575, $alpha: 0.3);
            border-radius: 0.5rem;
            overflow: hidden;
            margin: 0.3rem 0 0.5rem 0;
            position: relative;
            box-shadow: var(--box-shadow);
            & .progress {
                height: 0.8rem;
            }
            & .bg-1 {
                background-color: rgba($color: #fe0944, $alpha: 0.6);
            }
            & .bg-2 {
                background-color: rgba($color: #5232c1, $alpha: 0.6);
            }
            & .bg-3 {
                background-color: rgba($color: #bc1888, $alpha: 0.6);
            }
            & .bg-4 {
                background-color: rgba($color: #2196f3, $alpha: 0.6);
            }
        }
    }
    & .knowledge {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        & span {
            background-color: #e0e0e0;
            padding: 5px 10px;
            border-radius: 5px;
            font-size: 14px;
        }
    }
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.tags span {
    background-color: #e0e0e0;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
}
